@model IEnumerable<Person>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 mt-4">Person</h1>


    <a href="/admin/person/Add" class="btn btn-primary">Add New</a>

    <!-- DataTaBles Example -->
    <div class="card shadow mb-4 mt-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped " id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>FullName</th>
                            <th>Position</th>
                            <th>DateOfBirth</th>
                            <th>Adress</th>
                            <th>Email</th>
                            <th>Website</th>
                            <th>Description</th>
                            <th>ProfileImgPath</th>
                            <th>CVPath</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.Position.Name</td>
                                <td>@item.DateOfBirth.ToString("dd/mm/yyyy")</td>
                                <td>@item.Adress</td>
                                <td>@item.Email</td>
                                <td>@item.Website</td>
                                <td style="height:150px;display:block;overflow-y:scroll">@item.Description</td>
                                <td> <img src="@("~/Image/"+@item.ProfileImgPath)" asp-append-version="true" width="100px" height="100px" /></td>
                                <td>
                                    <a href="~/CV/@item.CVPath" download>Download</a>
                                </td>
                                <td>
                                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.ID">
                                        Edit
                                    </a>

                                </td>
                                <td>
                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ID">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

